@tailwind base;
@tailwind components;
@tailwind utilities;

@utility scrollbar-gutter {
  scrollbar-gutter: stable both-edges;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f711;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
