@import "tailwindcss";

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #121212;
  --color-layer-2: #1e1e1e;
  --color-layer-3: #292929;
  --color-light: #f7f7f7;
  --color-soft-light: #aaaaaa;
  --color-brand-primary: #ea2778;
  --color-brand-secondary: #ffdc01;
  --color-success: #4caf50;
  --color-error: #ed5c5c;
  --font-sans: var(--font-poppins);
}

/* * {
  outline: 1px solid #f00;
} */

.scrollbar-gutter {
  scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f711;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

body {
  font-family: "Poppins", sans-serif;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #f000 inset !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #f7f7f7 !important;
}
